* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header span {
    color: #155de2; }

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.notes-list {
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

.note {
  background-image: linear-gradient(to top, #2f73cc 10%, #136de2 50%);
  white-space: nowrap;
  border-radius: 1rem;
  padding: 1rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .note .new {
    background-color: aquamarine; }

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between; }

textarea {
  border: none;
  resize: none;
  background-image: linear-gradient(to top, #2f73cc 10%, #136de2 50%); }
  textarea:focus {
    outline: none; }

.save {
  background-color: #fff;
  border-radius: 1rem;
  padding: 5px 10px 5px 10px;
  border: solid 4px #136de2; }
  .save:hover {
    background-color: #4a74aa;
    cursor: pointer;
    transition: all 0.5s ease-out; }

.delete-icon {
  cursor: pointer; }

.dark-mode {
  background-color: #1b2f66; }
