@import "config";

* {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        color: rgb(21, 93, 226);

    }
}

body {
    background-color: rgb(228, 237, 250);
}


.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.notes-list {
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
    background-image: linear-gradient(to top, #4d83c9 1%, #4284ff 100%);
    white-space: nowrap;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .new {
        background-color: #2f73cc;
    }
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

textarea {
    border: none;
    resize: none;
    background-image: linear-gradient(to top, #4d83c9 1%, #4284ff 100%);

    &:focus {
        outline: none;
    }

}

.save {

    background-color: #fff;
    border-radius: 1rem;
    padding: 5px 10px 5px 10px;
    border: solid 4px #136de2;

    &:hover {
        background-color: #2f73cc;
        cursor: pointer;
        @include easeOut;
    }


}

.delete-icon {
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
    background-color: rgb(223, 231, 250);
    border: solid #4a74aa;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1.5rem;

    input {
        border: none;
        background-color: rgb(223, 231, 250);

        &:focus {
            outline: none;
        }
    }


    .search-icon {
        cursor: pointer;
    }


}



.dark-mode {


    background-color: rgb(27, 47, 102);
    color: #fff;


    span {
        color: antiquewhite;
    }

    textarea {
        color: #fff;
    }

    .note {
        color: #fff;
    }

    h1 {
        color: #fff;
    }
}

@import "mobile";
